body{
    background-color: #A8DADC;
    color: #264653;
    text-align: center;
}

p{
    color: blue;

}

img{
    width: 10%;
}

button{
    font-size: 15px;
    border-radius: 12px;
    border-style: none;
    color:#264653;
    padding: 10px;
    margin: 10px;
    transition: ease-in 0.5s;
}

button:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: #264653;
  
}