body{
    background: url("images/clouds.png"), rgba(168, 218, 220, 0.5);
    background-blend-mode: overlay ;
    color: #264653;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    color: blue;
}

img{
    width: 10%;
    transition: ease-in 0.5s;
}
img:hover{
    transform: scale(1.2);
}
button{
    font-size: 15px;
    border-radius: 12px;
    border-style: none;
    color:#264653;
    padding: 10px;
    margin: 10px;
    transition: ease-in 0.5s;
}

button:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: #264653;
  
}